
body{
	background:#efeded; 
}
.head{
   height:80px;
   width: 203px;
   padding-top:50px; 
   margin: 0 auto;
}
.auth-form{
	background:white; 
	width:245px;
	height: 273px;
	margin: 0 auto;
	border:solid 1px #d8dee2;
	border-radius: 5px;
	padding: 24px 28px 24px 28px;
}
.connectinput{
    padding: 20px;
	width: 203px;
	height:230px;

}
.connectButton{
	border: solid 1px #0c3e02;
	height: 30px;
	width: 203px;
	margin-bottom: 20px;
	cursor:pointer;
	background-image: linear-gradient(-180deg, #2ace4e 0%, #28a745 90%);
}
.serverip{
	width: 203px;
	height: 30px;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.serverport{
	width: 203px;
	height: 30px;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 41px;
}
.left-menu{
	position: fixed;
	left:0;
	bottom: 0;
	top:50px;
	height: 626px;
	width: 200px;
	background:rgb(44,44,44);
	color: #efeded;
}
.left-btn {
    position: fixed;
    top: 50%;
    left: 200px;
    overflow: hidden;
    cursor: pointer;
    width: 15px;
    height: 150px;
    margin-top: -50px;
    display: block;
    z-index: 0;
}
span {
    width: 15px;
    height: 150px;
    position: absolute;
    top: 0;
    left: -1px;
    display: block;
    background: url(../image/side-left-shrink.png) no-repeat;
    background-position: 0px 0px; 
}
.right-show{
	height: 596px;
	width: 1118px;
	position:relative;
	top:50px; 
	left:215px;

}
.title{
	float: left;
	color:green; 
	font-size:37px;
	width:200px;
	height:50px; 
}
.top-menu{
	width:100%;
	height:49px;
	border-bottom: solid 1px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}