
body{
	background:white; 
}
.head{
   height:80px;
   width: 203px;
   padding-top:50px; 
   margin: 0 auto;
}
.auth-form{
	background:white; 
	width:259px;
	height: 273px;
	margin: 0 auto;
	border:solid 1px #d8dee2;
	border-radius: 5px;
	padding: 24px 28px 24px 28px;
	margin-top: 30px;
}
.connectinput{

	width: 203px;
	height:230px;

}
.connectButton{
	border: solid 1px #0c3e02;
	height: 30px;
	width: 203px;
	margin-bottom: 20px;
	cursor:pointer;
	background-image: linear-gradient(-180deg, #2ace4e 0%, #28a745 90%);
}
.serverip{
	width: 203px;
	height: 30px;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.serverport{
	width: 203px;
	height: 30px;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 41px;
}
.left-menu{
	position: fixed;
	left:0px;
	top:0px;
	height: 660px;
	width: 200px;
	background:#FFBB77;
	color: #000000;
	z-index: 3;
}
.left-btn {
    position: fixed;
    top: 50%;
    left: 200px;
    overflow: hidden;
    cursor: pointer;
    width: 15px;
    height: 150px;
    margin-top: -50px;
    display: block;
    z-index: 3;
}
span {
    width: 15px;
    height: 150px;
    position: absolute;
    top: 0;
    left: -1px;
    display: block;
    background: url(../image/side-left-shrink.png) no-repeat;
    background-position: 0px 0px; 
}
.right-show{
	min-height: 700px;
	min-width: 1118px;
	position:relative;
	top:10px; 
	left:215px;
	z-index: 1;
	border:solid 15px #9393FF;
	background-color:#ECECFF;
}
.ne{  
    top: -4px;  
    right :  -4px ;  
    cursor :  ne-resize   ;
}  
.nw{  
    top :  -4px ;  
    left :  -4px ;  
    cursor :  nw-resize   ;
}  
.se{  
    bottom :  -4px ;  
    right :  -4px ;  
    cursor :  se-resize   ;
}  
.sw{  
    bottom :  -4px ;  
    left :  -4px ;  
    cursor :  sw-resize ;  
}
.controler{
	background:white;
	position:  absolute ;
    width:  8px ;
	height:  8px ;
	border: solid 1px #63da7e ;
	display: none;
}
.shape-conn{
	position: absolute;
	right:-20px;
	width:40px;
	height:40px;
	border:solid 1px #f1ad1f;
	border-radius:20px;
	background-color:#e8d6af;
	display: none;
	line-height:14px;
	text-align: center;
	font-size:14px;
	cursor: crosshair;
}
.title{
	float: left;
	/*position: absolute;
	top:0px;
	left:0px;*/
	color:green; 
	font-size:37px;
	width:200px;
	height:50px; 
	background-color: white;
	border: solid 1px #FFBB77;
}
.top-menu{
	float: left;
	min-width:400px;
	height:49px;
    border-radius: 5px;
	position: fixed;
	top: 0;
	right: 0;
	background:#FFBB77;
	opacity: 1;
	z-index: 2;
}
.line-controler{
	position: absolute;
	width: 5px;
	height: 5px;
	border: solid 1px black ;
	background-color: white;
	display: none;
}
.show-canvas{

	position:fixed;
	top:50px;
	right: 0px;
	width: 399px;
	height: 399px;
	border-radius: 5px;
	border:solid 3px #FFBB77;
	z-index: 10;
	background: white;
	color:white;
	opacity: 1;
}
.plugin{
	margin-left:25px; 
	margin-top: 25px;
	width:150px; 
	height: 30px;
}
.save{
	width:48px;
	height: 25px;
	position: absolute;
	top:5px;
	right:5px;
	text-align: center;
}
.btn{
	width: 30px;
	height: 30px;
}
.group{
	margin-top: 10px;
	margin-left:12px; 
	float: left;
}
.clr_group{
	margin-top: 10px;
	margin-left:12px; 
	float: left;
}
img{
	position: absolute;
	top: 5px;
	left:5px;
}
.type,.subtype,.save_type,.colorpicker,.add_type,.add_subtype,.add_colorpicker{
	border-radius: 5px;
}
.type_label,.subtype_label,.color_label{
	width: 70px;
}
.drag{
	width: 30px;
	height: 30px;
	z-index: 10;
	top:0px;
	left: 0px;
	position: absolute;
	background: url(../images2/node_icon.png) no-repeat;
}
.send{
	margin-left:25px; 
	margin-bottom:  25px;
	width:150px; 
	height: 30px;
	position: absolute;
	left:0px;
	bottom: 0px;
}
.plugin_list{
	float: left;
	margin-top: 30px;
	margin-left: 25px;
	width:150px;
	height:40px;
	font-size: 26px;
	border-bottom: solid 1px grey;
}
.plugin_img{
	float: left;
	margin-top:6px;
	width: 30px;
	height: 30px;
	background: url(../images2/node_icon.png) no-repeat;
}
/*.threedbutton{
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}*/
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
